<main class="product-main">
    <div class="product-box" *ngFor="let product of products">
        <div class="card">
            <ul class="card__info">
                <li>
                    <p>
                        {{product._id}}
                    </p>
                </li>
                <li>
                    {{product.name}}
                </li>
                <li>
                    {{product.description}}
                </li>
                <li>
                    $ {{product.price}}
                </li>
            </ul>
            <div class="card__btns">
                <button class="btn_card delete" (click)="deleteProduct(product._id!)">Delete
                </button>
                <button class="btn_card edit" [routerLink]="['/product/edit', product._id]">
                    Edit
                </button>
            </div>

        </div>
    </div>
</main>